[submodule "console"]
	path = console
	url = https://github.com/OpenFrayApp/console.git
[submodule "site"]
	path = site
	url = https://github.com/OpenFrayApp/site.git
[submodule "docs"]
	path = docs
	url = https://github.com/OpenFrayApp/docs.git
